---
import AnsichtsausweisButton from "../AnsichtsausweisButton.svelte";
import DatenblattButton from "../DatenblattButton.svelte";
import HelpLabel from "../HelpLabel.astro";

---

<div class="grid grid-cols-2 p-4 gap-4">
			<div class="rounded-lg border-4 p-4 bg-white">
				<div class="GRB4">
					<div class="form-group col-md-12 nopad">
						<HelpLabel
							title="Gebäudebild Bildupload :"
						>
							Wenn vorhanden können Sie ein
							Gebäudefoto (Außenansicht)
							hochladen.
						</HelpLabel>
						<hr class="trenner_form_100" />
					</div>

					<div class="form-group col-md-12">
						<div class="row">
							<input
								type="file"
								class="image_upload"
								name="general[]"
							/>
							<div
								class="form-group col-3 image_container"
							>
								<input
									type="hidden"
									id="uploaded_images"
									name="uploaded_images"
									value=""
								/>
							</div>

							<canvas
								id="image_canvas"
								width="500"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="rounded-lg border-4 p-4 bg-white">
				<HelpLabel
					title="Ansichtsausweis & Datenblatt :"
				>
					Hier gehts zu Ihrem Ansichtsausweis
					und Datenblatt als PDF.
				</HelpLabel>
				<hr class="trenner_form_100" />

				<div class="flex flex-row gap-4">
					<AnsichtsausweisButton></AnsichtsausweisButton>
					<DatenblattButton></DatenblattButton>
				</div>
			</div>
</div>