<div class="flex flex-row justify-between px-12 py-4">
	<div>
		<p>Bedienfreundlichkeit</p>
		<div id="googlechart">
			<div style="position: relative;">
				<div
					dir="ltr"
					style="position: relative; width: 165px; height: 200px;"
				>
					<div
						style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
					>
						<svg width="165" height="200" style="overflow: hidden;">
							<defs id="_ABSTRACT_RENDERER_ID_49"></defs>
							<rect
								x="0"
								y="0"
								width="165"
								height="200"
								stroke="none"
								stroke-width="0"
								fill="#ffffff"></rect>
							<g>
								<path
									d="M153.90615821687896,106.80213503361519L153.90615821687896,121.20213503361519A72,57.6,0,0,1,147.3915475955382,136.97103612354348L147.3915475955382,122.57103612354348A72,57.6,0,0,0,153.90615821687896,106.80213503361519"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L83,111.2L147.3915475955382,136.97103612354348L147.3915475955382,122.57103612354348"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L153.90615821687896,106.80213503361519A72,57.6,0,0,1,147.3915475955382,122.57103612354348L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#3366cc"
									stroke-width="1"
									fill="#3366cc"></path>
							</g>
							<g>
								<path
									d="M147.3915475955382,122.57103612354348L147.3915475955382,136.97103612354348A72,57.6,0,0,1,114.6086068232812,162.95261755508005L114.6086068232812,148.55261755508008A72,57.6,0,0,0,147.3915475955382,122.57103612354348"
									stroke="#a52b0e"
									stroke-width="1"
									fill="#a52b0e"></path>
								<path
									d="M83,96.8L83,111.2L114.6086068232812,162.95261755508008L114.6086068232812,148.55261755508008"
									stroke="#a52b0e"
									stroke-width="1"
									fill="#a52b0e"></path>
								<path
									d="M83,96.8L147.3915475955382,122.57103612354348A72,57.6,0,0,1,114.6086068232812,148.55261755508008L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#dc3912"
									stroke-width="1"
									fill="#dc3912"></path>
							</g>
							<g>
								<path
									d="M68.84153310503848,153.27534153697468L68.84153310503848,167.67534153697468A72,57.6,0,0,1,11,111.2L11,96.8A72,57.6,0,0,0,68.84153310503848,153.27534153697468"
									stroke="#0c7112"
									stroke-width="1"
									fill="#0c7112"></path>
								<path
									d="M83,96.8L68.84153310503848,153.27534153697468A72,57.6,0,1,1,153.90615821687896,106.80213503361519L83,96.8A0,0,0,1,0,83,96.8"
									stroke="#109618"
									stroke-width="1"
									fill="#109618"></path><text
									text-anchor="start"
									x="41.57123813475344"
									y="67.83632511252557"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">74.6%</text
								>
							</g>
							<g>
								<path
									d="M114.6086068232812,148.55261755508008L114.6086068232812,162.95261755508008A72,57.6,0,0,1,68.84153310503848,167.67534153697468L68.84153310503848,153.27534153697468A72,57.6,0,0,0,114.6086068232812,148.55261755508008"
									stroke="#bf7300"
									stroke-width="1"
									fill="#bf7300"></path>
								<path
									d="M83,96.8L83,111.2L68.84153310503848,167.67534153697468L68.84153310503848,153.27534153697468"
									stroke="#bf7300"
									stroke-width="1"
									fill="#bf7300"></path>
								<path
									d="M83,96.8L114.6086068232812,148.55261755508008A72,57.6,0,0,1,68.84153310503848,153.27534153697468L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#ff9900"
									stroke-width="1"
									fill="#ff9900"></path><text
									text-anchor="start"
									x="76.95538233082578"
									y="141.54750624080933"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">10.4%</text
								>
							</g>
							<g></g>
						</svg>
						<div
							style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"
						>
							<table>
								<thead>
									<tr>
										<th>Note</th>
										<th>Wert1</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Wärmepumpe</td>
										<td>204</td>
									</tr>
									<tr>
										<td>Solarsystem</td>
										<td>460</td>
									</tr>
									<tr>
										<td>Brennwertkessel</td>
										<td>460</td>
									</tr>
									<tr>
										<td>andere Wärmeerzeuger</td>
										<td>3,306</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div
					aria-hidden="true"
					style="display: none; position: absolute; top: 210px; left: 175px; white-space: nowrap; font-family: Arial; font-size: 9px;"
				>
					74.6%
				</div>
			</div>
		</div>
	</div>
	<div>
		<p>Preis/Leistung</p>
		<div id="googlechart1">
			<div style="position: relative;">
				<div
					dir="ltr"
					style="position: relative; width: 165px; height: 200px;"
				>
					<div
						style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
					>
						<svg width="165" height="200" style="overflow: hidden;">
							<defs id="_ABSTRACT_RENDERER_ID_50"></defs>
							<rect
								x="0"
								y="0"
								width="165"
								height="200"
								stroke="none"
								stroke-width="0"
								fill="#ffffff"></rect>
							<g>
								<path
									d="M83,96.8L83,111.2L108.01220979626653,57.1873237923834L108.01220979626653,42.787323792383404"
									stroke="#0c7112"
									stroke-width="1"
									fill="#0c7112"></path>
								<path
									d="M83,96.8L108.01220979626653,42.787323792383404A72,57.6,0,0,1,153.90615821687896,106.80213503361519L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#109618"
									stroke-width="1"
									fill="#109618"></path><text
									text-anchor="start"
									x="112.3361820578576"
									y="81.21850887468625"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">22.1%</text
								>
							</g>
							<g>
								<path
									d="M83,96.8L83,111.2L13.75519011343566,95.41836401335149L13.75519011343566,81.01836401335149"
									stroke="#bf7300"
									stroke-width="1"
									fill="#bf7300"></path>
								<path
									d="M83,96.8L13.75519011343566,81.01836401335149A72,57.6,0,0,1,108.0122097962666,42.78732379238343L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#ff9900"
									stroke-width="1"
									fill="#ff9900"></path><text
									text-anchor="start"
									x="46.81159416207868"
									y="64.66791935299064"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">26.2%</text
								>
							</g>
							<g>
								<path
									d="M68.67579060946818,153.2485863083848L68.67579060946818,167.6485863083848A72,57.6,0,0,1,11,111.2L11,96.8A72,57.6,0,0,0,68.67579060946818,153.2485863083848"
									stroke="#a52b0e"
									stroke-width="1"
									fill="#a52b0e"></path>
								<path
									d="M83,96.8L68.67579060946818,153.2485863083848A72,57.6,0,0,1,13.75519011343566,81.01836401335149L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#dc3912"
									stroke-width="1"
									fill="#dc3912"></path><text
									text-anchor="start"
									x="28.27593663146581"
									y="119.52891535407758"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">26.2%</text
								>
							</g>
							<g>
								<path
									d="M153.90615821687896,106.80213503361519L153.90615821687896,121.20213503361519A72,57.6,0,0,1,68.67579060946818,167.6485863083848L68.67579060946818,153.2485863083848A72,57.6,0,0,0,153.90615821687896,106.80213503361519"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L83,111.2L68.67579060946818,167.6485863083848L68.67579060946818,153.2485863083848"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L153.90615821687896,106.80213503361519A72,57.6,0,0,1,68.67579060946818,153.2485863083848L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#3366cc"
									stroke-width="1"
									fill="#3366cc"></path><text
									text-anchor="start"
									x="98.3838324956165"
									y="132.0938998393958"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">25.4%</text
								>
							</g>
							<g></g>
						</svg>
						<div
							style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"
						>
							<table>
								<thead>
									<tr>
										<th>Note</th>
										<th>Wert1</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Wärmepumpe</td>
										<td>31</td>
									</tr>
									<tr>
										<td>Solarsystem</td>
										<td>32</td>
									</tr>
									<tr>
										<td>Brennwertkessel</td>
										<td>32</td>
									</tr>
									<tr>
										<td>andere Wärmeerzeuger</td>
										<td>27</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div
					aria-hidden="true"
					style="display: none; position: absolute; top: 210px; left: 175px; white-space: nowrap; font-family: Arial; font-size: 9px;"
				>
					22.1%
				</div>
				<div></div>
			</div>
		</div>
	</div>
	<div>
		<p>Kundenservice</p>
		<div id="googlechart2">
			<div style="position: relative;">
				<div
					dir="ltr"
					style="position: relative; width: 165px; height: 200px;"
				>
					<div
						style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
					>
						<svg width="165" height="200" style="overflow: hidden;">
							<defs id="_ABSTRACT_RENDERER_ID_51"></defs>
							<rect
								x="0"
								y="0"
								width="165"
								height="200"
								stroke="none"
								stroke-width="0"
								fill="#ffffff"></rect>
							<g>
								<path
									d="M83,96.8L83,111.2L153.9493686908113,101.39593284803647L153.9493686908113,86.99593284803646"
									stroke="#0c7112"
									stroke-width="1"
									fill="#0c7112"></path>
								<path
									d="M83,96.8L153.9493686908113,86.99593284803646A72,57.6,0,0,1,153.90615821687896,106.80213503361519L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#109618"
									stroke-width="1"
									fill="#109618"></path>
							</g>
							<g>
								<path
									d="M83,96.8L83,111.2L57.66740131486141,57.28297074143515L57.66740131486141,42.88297074143515"
									stroke="#bf7300"
									stroke-width="1"
									fill="#bf7300"></path>
								<path
									d="M83,96.8L57.66740131486141,42.88297074143515A72,57.6,0,0,1,153.9493686908113,86.99593284803656L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#ff9900"
									stroke-width="1"
									fill="#ff9900"></path><text
									text-anchor="start"
									x="100.4755797315752"
									y="64.28765308981093"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">28%</text
								>
							</g>
							<g>
								<path
									d="M21.544342596176435,126.81015479401721L21.544342596176435,141.2101547940172A72,57.6,0,0,1,11,111.2L11,96.8A72,57.6,0,0,0,21.544342596176435,126.81015479401721"
									stroke="#a52b0e"
									stroke-width="1"
									fill="#a52b0e"></path>
								<path
									d="M83,96.8L21.544342596176435,126.81015479401721A72,57.6,0,0,1,57.66740131486141,42.88297074143515L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#dc3912"
									stroke-width="1"
									fill="#dc3912"></path><text
									text-anchor="start"
									x="24.324238729039948"
									y="86.75491769848644"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">28%</text
								>
							</g>
							<g>
								<path
									d="M153.90615821687896,106.80213503361519L153.90615821687896,121.20213503361519A72,57.6,0,0,1,21.544342596176435,141.21015479401723L21.544342596176435,126.81015479401721A72,57.6,0,0,0,153.90615821687896,106.80213503361519"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L83,111.2L21.544342596176435,141.2101547940172L21.544342596176435,126.81015479401721"
									stroke="#264d99"
									stroke-width="1"
									fill="#264d99"></path>
								<path
									d="M83,96.8L153.90615821687896,106.80213503361519A72,57.6,0,0,1,21.544342596176435,126.81015479401721L83,96.8A0,0,0,0,0,83,96.8"
									stroke="#3366cc"
									stroke-width="1"
									fill="#3366cc"></path><text
									text-anchor="start"
									x="79.98147099583318"
									y="140.70105569942294"
									font-family="Arial"
									font-size="9"
									stroke="none"
									stroke-width="0"
									fill="#ffffff">38.5%</text
								>
							</g>
							<g></g>
						</svg>
						<div
							style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"
						>
							<table>
								<thead>
									<tr>
										<th>Note</th>
										<th>Wert1</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Wärmepumpe</td>
										<td>77</td>
									</tr>
									<tr>
										<td>Solarsystem</td>
										<td>56</td>
									</tr>
									<tr>
										<td>Brennwertkessel</td>
										<td>56</td>
									</tr>
									<tr>
										<td>andere Wärmeerzeuger</td>
										<td>11</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div
					aria-hidden="true"
					style="display: none; position: absolute; top: 210px; left: 175px; white-space: nowrap; font-family: Arial; font-size: 9px;"
				>
					5.5%
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>
