---
import Layout from "~/layouts/Layout.astro"

---

<Layout title="404 - Not Found">
	<div class="absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] text-center">
		<h1>It seems we can't find the redirect that you were looking for...</h1>
	</div>
</Layout>