---
import Widget from '../components/Widget.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Energieausweis online erstellen - Online Energieausweis">
	<h1>Energieausweis online erstellen</h1>

	<Widget />

	<h2>GEG gilt ab 1. Mai 2021 und löst die EnEV ab</h2>
	<div class="pflicht-list">
		<p class="underline">Folgende Punkte ändern sich:</p>
		<ul>
			<li contenteditable="true">
				Erhöhte Sorgfaltspflicht bei der Erstellung der Energieausweise.
				Insbesondere zur Einschätzung der Modernisierungsempfehlungen werden
				jetzt Fotos der relevanten Bereiche von Dach, Fenster, Heizung und
				Außenwand benötigt.
			</li>
			<li>
				Die Primärenergiefaktoren zur Ermittlung des Gebäudekennwerts werden
				jetzt direkt im GEG (§22 Primärenergiefaktoren) geregelt. Dadurch wird
				mehr Transparenz und Nachvollziehbarkeit geschaffen. Auch findet die
				Verwendung von Biogas aus dem Erdgasnetz jetzt angemessen
				Berücksichtigung.
			</li>
			<li>
				Die lokale Erzeugung von Strom über eine PV-Anlage wird besser
				berücksichtigt und kann vom Jahres-Primärenergiebedarf abgezogen werden
				(bis 45%).
			</li>
			<li>
				Die Angabe der CO2-Emission des Gebäudes im Energieausweis wird
				verplichtend eingeführt.
			</li>
		</ul>
	</div>

	<h2>
		Energieausweis nach aktueller GEG (vormals EnEV) geprüft vom Diplom
		Ingenieur
	</h2>
	<div class="right-img">
		<img
			title="Energieausweis online erstellen"
			src="images/Bedarfsausweis-Wohngebaeude-Beispiel.jpg"
			alt="Energieausweis online erstellen"
		/>
	</div>
	<hr />Sie möchten Ihren <strong>Energieausweis online erstellen</strong>? Auf
	dieser Seite finden Sie alle nötigen Informationen hierzu. Sollten Sie sich
	nicht sicher sein <a href="/energieausweis-welcher-energieausweis.php"
		>welchen Energieausweis</a
	> Sie benötigen, können Sie sich bei uns umfassend informieren. Wir haben fürs
	Sie alle wichtigen Informationen rund um die GEG und zur
	<a href="/energieausweis-pflicht.php">Energieausweis Pflicht</a> zusammengetragen.
	Zusätzlich haben wir die entscheidenden Informationen auf übersichtlichen Merkblättern
	im PDF Format zum Download zusammengefasst. Sollten Sie noch Fragen zum Thema Energieausweis
	online erstellen haben, stehen wir Ihnen gerne telefonisch unter folgender Nummer:
	040/209 339 850 zur Verfügung.
	<hr />Mit dem <strong>Energieausweis</strong> werden Wohngebäude und Nichtwohngebäude
	nach den Vorgaben der Energieeinsparverordnung <a
		href="/energieausweis-enev-geg.php">EnEV</a
	>
	energetisch bewertet. Das <a href="https://www.dibt.de/" target="blank"
		>DIBt</a
	>
	(Deutsches Institut für Bautechnik) regelt die Grundsätze zur Ausstellung, Berechnung
	und der Qualitätssicherung. Der Energieausweis beschreibt die entsprechenden Energiekennwerte
	auf einer Farbskala, grün (A+/Effizienzhaus), gelb (D) und rot (H / unsaniert).
	Es wird grundsätzlich zwischen zwei Energieausweisarten unterschieden:
	<hr />
	<div style="border-left: 5px solid #f5b68c; border-right: 5px solid #f5b68c;">
		<ul id="start_ul">
			<li>
				Der verbrauchsbasierte Energieausweis wird als <a
					title="Verbrauchsausweis"
					href="/verbrauchsausweis/"><strong>Verbrauchsausweis</strong></a
				> bezeichnet. Dies ist der „kleine“ Energieausweis und kann bei Vermietung
				und Verkauf in den meisten Fällen verwendet werden. Hier gehts direkt zum
				Eingabeformular <br />→ <a
					title="Energieausweis online erstellen - Verbrauchsausweis"
					href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
					>Energieausweis online erstellen</a
				>
				<hr />
			</li>
			<li>
				Der bedarfsbasierte Energieausweis wird als <a
					title="Bedarfsausweis"
					href="/bedarfsausweis/"><strong>Bedarfsausweis</strong></a
				>bezeichnet. Dies ist der „große“ Energieausweis und kann immer
				verwendet werden. Bei Neubau und Modernisierung ist er zwingend
				vorgeschrieben. Hier gehts direkt zum Eingabeformular <br />→ <a
					title="Energieausweis online erstellen - Bedarfsausweis"
					href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
					>Energieausweis online erstellen</a>
			</li>
		</ul>
	</div>
	<div class="hide-on-mobile">
		<hr />
		<h3>Energieausweis online erstellen</h3>
		<div class="rpt_plans_3">
			<div class="rpt_plan">
				<div class="rpt_title">
					<img
						src="/images/icon_wohnhaus_plan_01.png"
						class="rpt_icon rpt_icon_0"
						alt="Energieausweis erstellen"
					/>
					Verbrauchsausweis<br />Wohngebäude
				</div>
				<div class="rpt_head">
					<div class="rpt_recurrence">inkl. 19% MwSt</div>
					<div class="rpt_price"><span class="rpt_currency">€</span>45</div>
				</div>
				<div class="rpt_feature">Unsere Leistungen:</div>
				<div class="rpt_feature">
					Prüfung durch Diplom Ingenieur
				</div>
				<div class="rpt_feature">
					Energieausweis Vorschau als PDF
				</div>
				<div class="rpt_feature">
					Ausweisdokument als PDF per E-Mail
				</div>
				<div class="rpt_feature">
					Registrierung beim DiBt
				</div>
				<div class="rpt_feature">
					Bearbeitung innhalb 24h
				</div>
				<div class="rpt_feature">
					rechtssicher nach aktueller EnEV
				</div>
				<div class="rpt_feature">
					telefonische Beratung
				</div><a
					target="_self"
					href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
					class="rpt_foot">jetzt sofort Energieausweis online erstellen</a
				>
			</div>
			<div class="rpt_plan">
				<div class="rpt_title rpt_title_1">
					<img
						src="/images/icon_wohnhaus_plan_01.png"
						class="rpt_icon rpt_icon_1"
						alt="Energieausweis erstellen"
					/>
					Bedarfsausweis<br />Wohngebäude
				</div>
				<div class="rpt_head rpt_head_1">
					<div class="rpt_recurrence rpt_recurrence_1">inkl. 19% MwSt</div>
					<div class="rpt_price rpt_price_1">
						<span class="rpt_currency">€</span>75
					</div>
				</div>
				<div class="rpt_feature">Unsere Leistungen:</div>
				<div class="rpt_feature">
					Prüfung durch Diplom Ingenieur
				</div>
				<div class="rpt_feature">
					Energieausweis Vorschau als PDF
				</div>
				<div class="rpt_feature">
					Ausweisdokument als PDF per E-Mail
				</div>
				<div class="rpt_feature">
					Registrierung beim DiBt
				</div>
				<div class="rpt_feature">
					Bearbeitung innhalb 24h
				</div>
				<div class="rpt_feature">
					rechtssicher nach aktueller EnEV
				</div>
				<div class="rpt_feature rpt_feature_1-7">
					telefonische Beratung
				</div><a
					target="_self"
					href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
					class="rpt_foot">jetzt sofort Energieausweis online erstellen</a
				>
			</div>
			<div class="rpt_plan">
				<div class="rpt_title rpt_title_2">
					<img
						src="/images/icon_gewerbe_plan_01.png"
						class="rpt_icon rpt_icon_2"
						alt="Energieausweis erstellen"
					/>
					Verbrauchsausweis<br />Gewerbe
				</div>
				<div class="rpt_head rpt_head_2">
					<div class="rpt_recurrence">inkl. 19% MwSt</div>
					<div class="rpt_price"><span class="rpt_currency">€</span>65</div>
				</div>
				<div class="rpt_feature">Unsere Leistungen:</div>
				<div class="rpt_feature">
					Prüfung durch Diplom Ingenieur
				</div>
				<div class="rpt_feature">
					Energieausweis Vorschau als PDF
				</div>
				<div class="rpt_feature">
					Ausweisdokument als PDF per E-Mail
				</div>
				<div class="rpt_feature">
					Registrierung beim DiBt
				</div>
				<div class="rpt_feature">
					Bearbeitung innhalb 24h
				</div>
				<div class="rpt_feature">
					rechtssicher nach aktueller EnEV
				</div>
				<div class="rpt_feature">
					telefonische Beratung
				</div><a
					target="_self"
					href="/energieausweis-erstellen/verbrauchsausweis-gewerbe-erstellen.php"
					class="rpt_foot">jetzt sofort Energieausweis online erstellen</a
				>
			</div>
		</div>
		<div style="clear:both;"></div>
		<hr />
	</div>

	<h2>Unterschied: Verbrauchsausweis und Bedarfsausweis</h2> Grundsätzlich unterscheidet
	man beim Energieausweis zwischen Verbrauchsausweis und Bedarfsausweis.<h3>
		Was ist ein Verbrauchsausweis?
	</h3>
	Der Verbrauchsausweis gibt den Energieverbrauch der Gebäudebewohner in den vergangenen
	drei Jahren für Heizung und Warmwasserbereitung an. Um den <a
		href="/energieausweis-enev-geg.php#§-19-EnEV"
		>Energieverbrauchskennwert zu ermitteln</a
	>, wird der tatsächliche Energieverbrauch mithilfe eines standortbezogenen
	Klimafaktors bereinigt. Der Durchschnittswert wird dann durch die sogenannte
	energetische Gebäudenutzfläche (An) geteilt. So führt beispielsweise ein hoher
	Verbrauch in einem einzelnen harten Winter nicht zu einer schlechteren
	Beurteilung des Gebäudes. Der tatsächliche Energieverbrauch in einem Gebäude
	oder einer Wohnung kann aufgrund des Witterungseinflusses vom
	Energieverbrauchskennwert abweichen.Das Ergebnis im Verbrauchsausweis ist
	stark vom individuellen Nutzungsverhalten der Bewohner abhängig. Wird in einem
	energetisch schlechten Gebäude kaum geheizt, so kann der Energieausweis
	trotzdem sehr gut ausfallen.<h3>Was ist ein Bedarfsausweis?</h3> Der Bedarfsausweis
	entsteht auf Grundlage einer technischen <a
		href="/energieausweis-enev-geg.php#§-18-EnEV"
		>Analyse der Bausubstanz und der Heizungsanlage eines Gebäudes</a
	> und ist unabhängig vom individuellen Nutzerverhalten. Die Farbverlaufsskala im
	Bedarfsausweis weist zwei verschiedene Werte aus, die sehr unterschiedlich ausfallen
	können – einen Wert für den Endenergiebedarf und einen für den Primärenergiebedarf.
	Zusätzlich wird noch ein Kennwert für die energetische Qualität der Gebäudehülle
	dargestellt.Der Energiebedarf gibt die nach technischen Regeln berechnete, vom
	konkreten Gebäude jährlich benötigte Energiemenge für Heizung, Lüftung und Warmwasserbereitung
	an. Dabei werden bei der Berechnung standardisierte Randbedingungen – beispielsweise
	eine Innentemperatur von 19 Grad im beheizten Bereich des Gebäudes – zugrunde gelegt.
	Am Endenergiebedarf sollten sich Hausbewohner orientieren, wenn sie ihren künftigen
	Energieverbrauch und die Energiekosten abschätzen wollen.Der Primärenergiebedarf
	bildet die Gesamtenergieeffizienz eines Gebäudes ab. Er berücksichtigt neben der
	Endenergie auch die so genannte „Vorkette“ (Erkundung, Gewinnung, Verteilung, Umwandlung)
	der jeweils eingesetzten Energieträger (z.B. Heizöl, Gas, Strom, erneuerbare Energien).Besonders
	niedrig fällt der Primärenergiebedarf aus, wenn erneuerbare Energien (solare Strahlungsenergie,
	Geothermie, Energie aus Biomasse) für die Energieversorgung im Gebäude eingesetzt
	werden. Am Primärenergiebedarf können Verbraucher erkennen, wie umweltfreundlich
	ihr Gebäude ist.<h3>Fazit – Verbrauchsausweis / Bedarfsausweis</h3> Geht es um
	den tatsächlichen Verbrauch der Energie, der den Aufwand für Heizung und zentrale
	Warmwasserbereitung der vergangenen drei Jahre berücksichtigt, wird der Energieverbrauchskennwert
	für den Verbrauchsausweis ermittelt. Bei gewerblichen Objekten wird zusätzlich
	der Verbrauch für Beleuchtung und Klimatisierung mit eingerechnet. Anhand der Zeiträume
	und der Lage des Gebäudes (Postleitzahl) werden diese Daten ausgewertet und sowohl
	zeit-, als auch klimabereinigt zur Bewertung der vorhandenen energetischen Qualität
	herangezogen.Für das Ausstellen des Bedarfsausweis wird der rechnerische Energiebedarf
	unter standardisierten Randbedingungen benötigt. Daten rund um Bausubstanz, Gebäudehülle
	und Heizanlage fließen in die Berechnung mit ein. Bedarfsausweise widerspiegeln
	die tatsächliche energetische Qualität eines Gebäudes damit wesentlich besser als
	die Verbrauchsausweise.

	<hr />
	<div class="start_infobox" title="Verbrauchsausweis Wohngebäude">
		<div class="start_infobox_inside IB_VA_WG">
			<img
				alt="Energieausweis online erstellen - Verbrauchsausweis"
				title="Energieausweis online erstellen - Verbrauchsausweis"
				class="start_infobox_img"
				src="/images/energieausweis-online-erstellen-verbrauchsausweis.png"
			/>
			<div class="title">Verbrauchsausweis Wohngebäude</div>
			<hr />
			<ul>
				<li>
					3 zusammenhängende Heizenergieverbräuche müssen eingegeben werden.
				</li>
				<li>
					Wohnfläche, Baujahr Gebäude und Baujahr Heizung müssen eingegeben
					werden.
				</li>
				<li>
					<div class="start_infobox_link">
						<a
							title="Verbrauchsausweis"
							href="/verbrauchsausweis/verbrauchsausweis-wohngebaeude.php"
							>Verbrauchsausweis</a
						>
						bei fast allen Gebäuden möglich. (Baujahr &gt; 1977 - Vermietung/Verkauf)
					</div>
				</li>
			</ul>
			<div class="start_infobox_button">
				<a
					title="Verbrauchsausweis erstellen"
					href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
					>Jetzt Verbrauchsausweis erstellen</a>
			</div>
		</div>
	</div>
	<div class="start_infobox BA-WG" title="Bedarfssausweis Wohngebäude">
		<div class="start_infobox_inside">
			<img
				alt="Energieausweis online erstellen - Bedarfsausweis"
				title="Energieausweis online erstellen - Bedarfsausweis"
				class="start_infobox_img"
				src="/images/energieausweis-online-erstellen-verbrauchsausweis.png"
			/>
			<div class="title">Bedarfsausweis Wohngebäude</div>
			<hr />
			<ul>
				<li>
					Die verwendete Heizungsanlage (Standardkessel, Brennwertkessel, etc.)
					muß eingegeben werden.
				</li>
				<li>
					Grundrissgeometrie sowie Baujahr Heizung und Gebäude müssen eingegeben
					werden.
				</li>
				<li>
					<a
						title="Bedarfsausweis"
						href="/bedarfsausweis/bedarfsausweis-wohngebaeude.php"
						>Bedarfsausweis</a
					> bei allen Gebäuden möglich. Die Berechnung ist umfangreicher und besser
					vergleichbar.
				</li>
			</ul>
			<div class="start_infobox_button">
				<a
					title="Bedarfsausweis erstellen"
					href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
					>Jetzt Bedarfsausweis erstellen</a>
			</div>
		</div>
	</div>
	<div class="start_infobox VANW_WG" title="Bedarfsausweis Gewerbe">
		<div class="start_infobox_inside">
			<img
				alt="Energieausweis online erstellen - Bedarfsausweis Gewerbe"
				title="Energieausweis online erstellen - Bedarfsausweis Gewerbe"
				class="start_infobox_img"
				src="/images/energieausweis-online-erstellen-verbrauchsausweis-gewerbe.png"
			/>
			<div class="title">Bedarfsausweis Gewerbe</div>
			<hr />
			<ul>
				<li>
					Aktuelle Grundriss- und Ansichtspläne werden für die Zonierung
					benötigt.
				</li>
				<li>
					Baubeschreibung (z.B. aus der Baugenehmigung) mit Angabe der
					verwendeten Baustoffe und TGA.
				</li>
				<li>Angabe vom Baujahr der Heizung, Gebäude und Klimaanlage.</li>
				<li>
					<a
						title="Bedarfsausweis Gewerbe"
						href="/bedarfsausweis/bedarfsausweis-gewerbe.php"
						>Bedarfsausweis Gewerbe</a
					> bei allen Nichtwohngebäuden möglich (kann immmer verwendet werden).
				</li>
			</ul>
			<div class="start_infobox_button">
				<a
					href="/energieausweis-erstellen/bedarfsausweis-gewerbe-anfragen.php"
					title="Bedarfsausweis Gewerbe anfragen"
					>Jetzt Bedarfsausweis Gewerbe anfragen</a>
			</div>
		</div>
	</div>

	<hr />
	<h2>Energieausweis online erstellen</h2> Soll Wohneigentum veräußert oder bauliches
	Teileigentum zum Erwerb angeboten werden, muss dem möglichen Käufer oder Leasingnehmer
	auf Verlangen unverzüglich ein
	<a href="energieausweis-enev-geg.php#§-16a-EnEV"
		>Energieausweis gezeigt werden</a
	>. In den meisten Fällen ist hier ein Verbrauchsausweis ausreichend. Auch
	Mietern oder Pächtern soll der Energieausweis unmittelbaren Aufschluss über
	die energetischen Bedingungen des Gebäudes aufzeigen.Kommt der Anbieter der
	offerierten Immobilie diesem Auftrag nach der Energieeinsparverordnung nicht
	nach, drohen Bußgelder bis zu 15 000 Euro. Als Ausnahmen gelten Gebäude mit
	nicht mehr als 50 m² Fläche sowie Baudenkmäler (<a
		href="energieausweis-enev-geg.php#§-16-EnEV">§ 16 Abs. 4 EnEV</a
	>).Die Deutsche Energie-Agentur GmbH (<a
		href="https://www.dena.de/"
		target="blank">dena</a
	>) empfiehlt bei Wohngebäuden generell den Bedarfsausweis. Er erlaubt eine
	nutzerunabhängige Bewertung des Gebäudes. Zusätzlich können bei der Erstellung
	eines Bedarfsausweises die Empfehlungen für Modernisierungen auf der Basis
	einer technischen Analyse des Gebäudes ermittelt werden.
	<hr />
	<h2>Zusammenfassung: Was ist ein Energieausweis?</h2>
	<ul id="start_ul_1">
		<li>
			Der Gesetzgeber hat zwei Arten des Energieausweises bestimmt: Den
			Verbrauchsausweis und den Bedarfsausweis.
		</li>
		<li>
			Je nach Gebäudeart, Baujahr, Nutzungsart gilt es verschiedene Kriterien
			für den Energieausweis zu beachten.
		</li>
		<li>
			Der Energieausweis ist ein Mittel, das als Starter für
			Energiesparmaßnahmen definiert werden kann.
		</li>
		<li>
			Mit Hilfe des Energieausweises kann sich der Marktwert einer Immobilie
			erhöhen.
		</li>
		<li>
			Der Energieausweis offenbart bauliche Mängel, die eine
			Energieverschwendung mit sich bringen.
		</li>
		<li>
			Im Energieausweis werden Sanierungs- bzw. Modernisierungsvorschläge
			dokumentiert.
		</li>
		<li>
			Anhand des Energiepasses lässt sich der energetische Zustand verschiedener
			Gebäude miteinander vergleichen.
		</li>
	</ul>
</Layout>
