---
import moment from "moment";
import Layout from "../../layouts/Layout.astro"
import { decodeToken } from "../../lib/JsonWebToken";
import { User } from "../../lib/User";

const token = Astro.cookies.get("token").value;
const expires = Astro.cookies.get("expires").number();

const now = moment().unix();
if (!token || now > expires) {
	Astro.cookies.delete("token");
	Astro.cookies.delete("expires");
	return Astro.redirect("/login");
}

const parsed = decodeToken(token);
const user = await User.fromPublicId(parsed.uid);

if (!user) {
	Astro.cookies.delete("token");
	Astro.cookies.delete("expires");
	return Astro.redirect("/login");
}

---

<Layout title="Dashboard">
<div class="profile_container">
	<div><h1>Willkommen zurück <b>{user.username}</b></h1>
		<div id="searchBoxContainer" class="flex-row" style="gap: 5px; margin: 10px 0;"></div>
	</div>
	<div class="flex-column" style="gap: 10px;">
		<a href="/user/settings" class="button">Account Details Ändern</a>
		<a href="/logout" class="button">Ausloggen</a>
	</div>
	<div class='login-container' id="items-container"></div>
</div>
</Layout>