---
import PerformanceScore from "~/components/Ausweis/PerformanceScore.svelte";
import ProgressBar from "~/components/Ausweis/ProgressBar.astro";
import Hilfe from "~/components/Ausweis/Hilfe.astro";
import AusweisLayout from "~/layouts/AusweisLayout.astro";
import HelpLabel from "~/components/HelpLabel.astro";
import Verbrauch from "~/components/Ausweis/Verbrauch.astro";
import Ausweisart from "~/components/Ausweis/Ausweisart.astro";
import HeizungImage from "~/components/Ausweis/HeizungImage.astro";
import FensterImage from "~/components/Ausweis/FensterImage.astro";
import DaemmungImage from "~/components/Ausweis/DaemmungImage.astro";
/**
 * include('scripts/dbcon.php');
ini_set('session.cookie_secure', "1");
ini_set('session.cookie_httponly', "1");
ini_set('session.cookie_samesite', 'None');
session_start();

if ($_GET['recode'] != '') {
	$_SESSION['recode'] = $_GET['recode'];
}
if ($_GET['anlass'] != '') {
	$_SESSION['IGanlass'] = $_GET['anlass'];
}
if ($_GET['san'] != '') {
	$_SESSION['IGsan'] = $_GET['san'];
}
if ($_GET['eid'] != '' or $_POST['eid'] != '') {
	include("transfer/fetchsp.php");
}
?>

<?php
$checkArt		=	$_SESSION['ausweisarte'];
 
switch ($checkArt) {

	case 'VA':
		$headART		=	"Verbrauchsausweis - 45€";
		$titleART		=	"Verbrauchsausweis erstellen · Kaufabschluss";
		break;
	case 'VANW':
		$headART		=	"Verbrauchsausweis Gewerbe - 65€";
		$titleART		=	"Verbrauchsausweis Gewerbe erstellen · Kaufabschluss";
		break;
	case 'BA':
		$headART		=	"Bedarfsausweis - 75€";
		$titleART		=	"Bedarfsausweis erstellen · Kaufabschluss";
		break;
}
define("TEST_USER_NAME", "user@ib-cornelsen.de");
if ($_SESSION["username"] == TEST_USER_NAME) {
	echo "<script type='text/javascript' src='/energieausweis-erstellen/FORM/js/auto-fill-values.js'></script>";
}

?>
 */
---

<AusweisLayout title="Verbrauchsausweis erstellen">
	<div>
		<div>
			<div>
				<div class="flex flex-row gap-8 items-center">
					<div class="flex flex-col w-full">
						<h1>Verbrauchsausweis erstellen - 45€</h1>
						<ProgressBar />
					</div>

					<PerformanceScore />
				</div>

				<div id="wrapper-input">
					<form
						id="VA-form1"
						method="post"
						enctype="multipart/form-data"
					>
						<fieldset class="bg-[rgba(252,234,187,0.2)] border-2 p-4 rounded-lg border-[#ffcc03]">
							<Hilfe />

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlinep"
									style="font-size:18px;text-align:left;"
									>A - Prüfung der Ausweisart</label
								>
							</div>

							<Ausweisart />

							<div id="ausweispflichtk" style="display:none;">
								<hr />
								<div class="col-md-12">
									<div class="OPT-BOX TOP-BOX">
										<div class="row">
											<div class="form-group col-md-9">
												<HelpLabel
													title="Sie benötigen einen Bedarfsausweis. Bitte führen Sie hier Ihre Eingabe für den Bedarfsausweis fort und klicken auf den Button:"
												>
													Der Bedarfsausweis ist die
													etwas umfangreichere
													Berechnung. Sie benötigen
													z.B. Länge, Breite und
													Geschoßhöhe des Gebäudes.
													Auch müssen genauere Angaben
													zur Anlagentechnik gemacht
													werden.
												</HelpLabel>
											</div>

											<div
												class="form-group col-md-3"
												style="text-align:right;"
											>
												<input
													class="weiterbutton cancel"
													style="background-color: #31448e; border-radius: 0.35em;"
													id="weiterbedarf"
													type="submit"
													name="submit6"
													value="Bedarfsausweis erstellen"
												/>
											</div>
										</div><!-- 2-row-close -->
									</div>
								</div>
							</div>

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlinea"
									style="font-size:18px;text-align:left;"
									>B - Eingabe der Gebäudeadresse - Angaben zu
									Wohnfläche, Keller und Dachgeschoss</label
								>
							</div>

							<div class="col-md-12">
								<div class="GRB">
									<!-- Strasse -->
									<div class="form-group col-md-4">
										<HelpLabel title="Straße, Hausnummer *">
											Bitte geben Sie hier die Straße und
											Hausnummer des Gebäudes ein.
										</HelpLabel>
										<div>
											<input
												id="IGstrasse"
												name="IGstrasse"
												class="form-control input-md strasse"
												type="text"
												autocomplete="off"
												required
												data-msg="Pflichtfeld"
												data-msg-minlength="min. 5 Zeichen"
												data-msg-maxlength="max. 40 Zeichen"
											/>
										</div>
									</div>

									<!-- PLZ -->
									<div class="form-group col-md-4 PLZ">
										<HelpLabel title="PLZ *">
											Bitte geben Sie hier die PLZ des
											Gebäudes ein.
										</HelpLabel>
										<div>
											<input
												id="IGplz"
												name="IGplz"
												class="form-control input-md klima CHECK"
												type="text"
												required
												autocomplete="off"
												data-msg="Pflichtfeld"
												maxlength="5"
											/>
											<div
												id="PLZ_list"
												style="position:relative;"
											>
											</div>
										</div>
									</div>

									<!-- IGort: readonly entfernt - Nelson -->
									<div class="form-group col-md-4">
										<HelpLabel title="Ort *">
											Ort des Gebäudes wird automatisch
											ermittelt.
										</HelpLabel>
										<div>
											<input
												name="IGort"
												id="IGort"
												class="form-control input-md buchstaben"
												type="text"
											/>
										</div>
									</div>
									<!-- Wohnfläche -->
									<div class="form-group col-md-4">
										<HelpLabel title="Wohnfläche m² *">
											Bitte geben Sie hier die beheizte
											Wohnfläche in m² ein. Dabei handelt
											es sich um die Wohnfläche abzüglich
											vorhandener Flächen die sich
											außerhalb des Gebäudes befinden.
											(Balkone, Terassen,etc.).
										</HelpLabel>
										<div>
											<input
												id="IGflaeche"
												name="IGflaeche"
												maxlength="4"
												class="form-control input-md zahlen CHECK"
												required
												autocomplete="off"
												data-msg="Pflichtfeld"
												data-rule-minlength="2"
												data-msg-minlength="min. 2 Zeichen"
											/>
										</div>
									</div>

									<!-- Keller -->
									<div class="form-group col-md-4">
										<label
											class="control-label"
											for="IGkeller"
											>Keller *
										</label>
										<div>
											<select
												id="IGkeller"
												name="IGkeller"
												class="form-control CHECK"
												required
												data-msg="Pflichtfeld"
											>
												<option>Bitte auswählen</option>
												<option value="1.2"
													>nicht vorhanden</option
												>
												<option value="1.2"
													>unbeheizt</option
												>
												<option value="1.35"
													>beheizt</option
												>
											</select>
										</div>
									</div>

									<!-- Dachgeschoss -->
									<div class="form-group col-md-4">
										<label
											class="control-label"
											for="IGdach"
											>Dachgeschoss *
										</label>
										<div>
											<select
												id="IGdach"
												name="IGdach"
												class="form-control"
												required
												data-msg="Pflichtfeld"
											>
												<option>Bitte auswählen</option>
												<option value="dnein"
													>nicht vorhanden</option
												>
												<option value="dub"
													>unbeheizt</option
												>
												<option value="dbh"
													>beheizt</option
												>
											</select>
										</div>
									</div>
								</div><!-- 2-row-close -->
							</div><!-- 2-container-close -->

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label class="headline"
									>C - Eingabe von 3 zusammenhängenden
									Verbrauchsjahren</label
								>
							</div>

							<div class="GRB">
								<Verbrauch />
							</div>

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlineww"
									style="font-size:18px;text-align:left;"
									>D - Eingabe Warmwasseranteil und Verwendung
									von alternativen Energieversorgungssystemen</label
								>
							</div>

							<div class="GRB">
								<!-- Anteil WW enthalten -->
								<div class="flex flex-col">
									<label class="control-label"
										>Warmwasser im Verbrauch enthalten *
									</label>
									<div class="flex flex-row gap-6">
										<label class="radio-inline rfs"
											><input
												type="radio"
												class="IGwwbool"
												id="IGwwbool1"
												name="IGwwbool"
												value="0"
											/> Nein</label
										>
										<label class="radio-inline rfs"
											><input
												type="radio"
												class="IGwwbool"
												id="IGwwbool2"
												name="IGwwbool"
												value="1"
											/> Ja</label
										>
									</div>
								</div>

								<!-- Warmwasser Antel -->
								<div class="form-group col-md-2">
									<HelpLabel title="% Anteil Warmwasser">
										Wenn bekannt geben Sie den Anteil der
										Warmwasser-Versorgung hier ein.
										Standardmäßig wird ein Anteil von 18%
										angenommen.
									</HelpLabel>

									<input
										id="IGwarmwasser"
										name="IGwarmwasser"
										maxlength="2"
										class="form-control input-md zahlen CHECK"
										type="text"
										readonly
										autocomplete="off"
										data-msg="Pflichtfeld"
									/>
								</div>

								<div class="form-group col-md-2">
									<HelpLabel title="zusätzliche Heizquelle">
										Wenn bekannt geben Sie den Anteil der
										Warmwasser-Versorgung von der
										zusätzlichen Heizquelle hier ein.
										Standardmäßig wird ein Anteil von 18%
										angenommen.
									</HelpLabel>
									<input
										id="IGwarmwasserw"
										name="IGwarmwasser2"
										maxlength="3"
										class="form-control input-md zahlen"
										type="text"
										autocomplete="off"
										data-msg="Pflichtfeld"
										disabled
									/>
								</div>

								<!-- Alternative Energieversorgungssyteme -->
								<div class="form-group col-md-5">
									<HelpLabel
										title="Alternative Energieversorgungssysteme genutzt für "
									>
										Bitte setzen Sie den Haken falls
										nachhaltige CO2-Effiziente
										Heizungssysteme vorhanden sind. Das wäre
										beispielsweise bei Pelletofen,
										Wärmepumpe, BHKW, Solarsystem, etc. der
										Fall.
									</HelpLabel>
									<div class="flex flex-row">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGversorgungssysteme1"
												name="IGversorgungssysteme1"
												value="Heizung"
											/>Heizung</label
										>
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGversorgungssysteme2"
												name="IGversorgungssysteme2"
												value="Warmwasser"
											/>Warmwasser</label
										>
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGversorgungssysteme3"
												name="IGversorgungssysteme3"
												value="Lüftung"
											/>Lüftung</label
										>
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGversorgungssysteme4"
												name="IGversorgungssysteme4"
												value="Kühlung"
											/>Kühlung</label
										>
									</div>
								</div>
							</div>

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlineg"
									style="font-size:18px;text-align:left;"
									>E - Eingabe von Gebäudetyp, Gebäudeteil,
									Lüftung, Kühlung und Leerstand</label
								>
							</div>

							<div class="GRB">
								<!-- Gebäudetyp -->
								<div class="form-group col-md-3">
									<HelpLabel title="Gebäudetyp *">
										Bitte wählen Sie hier den Gebäudetyp
										aus.
									</HelpLabel>
									<div>
										<select
											id="IGtyp"
											name="IGtyp"
											class="form-control"
											required
											autocomplete="off"
											data-msg="Pflichtfeld"
										>
											<option>Bitte auswählen</option>
											<option value="Einfamilienhaus"
												>Einfamilienhaus</option
											>
											<option
												value="Freistehendes Einfamilienhaus"
												>Freistehendes Einfamilienhaus</option
											>
											<option
												value="Freistehendes Zweifamilienhaus"
												>Freistehendes Zweifamilienhaus</option
											>
											<option value="Doppelhaushälfte"
												>Doppelhaushälfte</option
											>
											<option value="Reihenendhaus"
												>Reihenendhaus</option
											>
											<option value="Reihenmittelhaus"
												>Reihenmittelhaus</option
											>
											<option value="Mehrfamilienhaus"
												>Mehrfamilienhaus</option
											>
											<option
												value="Wohn- und Geschäftshaus"
												>Wohn- und Geschäftshaus</option
											>
											<option value="Atrium-Bungalow"
												>Atrium-Bungalow</option
											>
											<option value="Winkelbungalow"
												>Winkelbungalow</option
											>
										</select>
									</div>
								</div>

								<!-- Gebäudeteil -->
								<div class="form-group col-md-3">
									<HelpLabel title="Gebäudeteil *">
										Bitte geben Sie hier den Gebäudeteil
										ein. In den meisten Fällen handelt es
										sich um das Gesamtgebäude. Sollte es
										sich allerdings um ein Gebäude mit mehr
										als 10% Gewerbeanteil handeln, so
										sollten 2 Ausweise erstellt werden. In
										diesem Fall wählen Sie Gebäudeteil
										'Wohnen' bzw. Gebäudeteil 'Gewerbe'.
									</HelpLabel>
									<div>
										<select
											id="IGeil"
											name="IGteil"
											class="form-control"
											required
											autocomplete="off"
											data-msg="Pflichtfeld"
										>
											<option>Bitte auswählen</option>
											<option value="Gesamtgebäude"
												>Gesamtgebäude</option
											>
											<option value="Wohnen"
												>Wohnen</option
											>
										</select>
									</div>
								</div>

								<!-- Lüftung -->
								<div class="form-group col-md-2">
									<HelpLabel title="Lüftung durch *">
										Bitte geben Sie hier ein ob über die
										Fenster natürlich belüftet wird oder
										über eine Lüftungsanlage.
									</HelpLabel>
									<div>
										<select
											id="IGlueftung"
											name="IGlueftung"
											class="form-control"
											required
											autocomplete="off"
											data-msg="Pflichtfeld"
										>
											<option>Bitte auswählen</option>
											<option value="Fensterlüftung"
												>Fensterlüftung</option
											>
											<option value="Schachtlüftung"
												>Schachtlüftung</option
											>
											<option
												value="Lüftungsanlage ohne Wärmerückgewinnung"
												>Lüftungsanlage ohne
												Wärmerückgewinnung</option
											>
											<option
												value="Lüftungsanlage mit Wärmerückgewinnung"
												>Lüftungsanlage mit
												Wärmerückgewinnung</option
											>
										</select>
									</div>
								</div>

								<!-- Lüftung -->
								<div class="form-group col-md-2">
									<HelpLabel title="Anlage Kühlung *">
										Bitte geben Sie an ob das Gebäude im
										Sommer zusätzlich gekühlt wird.
									</HelpLabel>
									<div>
										<select
											id="IGkuehlung"
											name="IGkuehlung"
											class="form-control"
											required
											autocomplete="off"
											data-msg="Pflichtfeld"
										>
											<option>Bitte auswählen</option>
											<option value="1">vorhanden</option>
											<option value="0"
												>nicht vorhanden</option
											>
										</select>
									</div>
								</div>

								<!-- Leerstand -->
								<div class="form-group col-md-2">
									<HelpLabel title="Leerstand in %">
										Bitte geben Sie hier den Leerstand in %
										des Gesamtzeitraumes (3 Jahre) ein. Zum
										Beispiel 4 Monate Leerstand in 36
										Monaten wären dann ca. 11%.
									</HelpLabel>
									<div>
										<input
											id="IGleer"
											name="IGleer"
											maxlength="2"
											class="form-control input-md zahlen"
											type="text"
											autocomplete="off"
											data-msg="Pflichtfeld"
										/>
									</div>
								</div>
							</div><!-- 2-container-close -->

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlinet"
									style="font-size:18px;text-align:left;"
									>F - Bitte prüfen Sie hier die Angaben zum
									Sanierungszustand des Gebäudes</label
								>
							</div>

							<div class="GRB3">
								<HelpLabel
									title="Heizungsanlage (bitte zutreffendes ankreuzen) *"
								>
									Wir benötigen diese Angaben um den
									allgemeinen Modernisierungsstand einschätzen
									zu können. Bitte setzen Sie den Haken wenn
									zutreffend. Das seit Mai 2021 gültige GEG
									erfordert eine genauere Prüfung anhand von
									Fotos. Bitte laden Sie ein oder mehrere
									Fotos der Heizungsanlage bzw. des
									Heizungsraums hoch.
								</HelpLabel>
								<hr />

								<div class="grid grid-cols-4">
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage1"
												name="IGheizungsanlage1"
												value="ZH"
											/>Zentral/Etage</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage2"
												name="IGheizungsanlage2"
												value="EO"
											/>Einzelöfen</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage3"
												name="IGheizungsanlage3"
												value="DH"
											/>Durchlauferhitzer</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage4"
												name="IGheizungsanlage4"
												value="SK"
											/>Standardkessel</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage5"
												name="IGheizungsanlage5"
												value="SSWW"
											/>Solarsystem für Warmwasser</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage6"
												name="IGheizungsanlage6"
												value="WP"
											/>Wärmepumpe</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage7"
												name="IGheizungsanlage7"
												value="NK"
											/>Niedertemperaturkessel</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage8"
												name="IGheizungsanlage8"
												value="BWK"
											/>Brennwertkessel</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage9"
												name="IGheizungsanlage9"
												value="WRGD"
											/>Warmwasserrohre gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage10"
												name="IGheizungsanlage10"
												value="HRGD"
											/>Heizungsrohre gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage11"
												name="IGheizungsanlage11"
												value="ZK"
											/>Zirkulation</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGheizungsanlage12"
												name="IGheizungsanlage12"
												value="RTR"
											/>Raumtemperaturregler</label
										>
									</div>
								</div>
							</div><!-- 2-row-close -->

							<hr />

							<HeizungImage />

							<hr />

							<div class="GRB3">
								<HelpLabel
									title="Fenster/Dachfenster/Türen (bitte zutreffendes ankreuzen):*"
								>
									Wir benötigen diese Angaben um den
									allgemeinen Modernisierungsstand einschätzen
									zu können. Bitte setzen Sie den Haken wenn
									zutreffend.
								</HelpLabel>
								<hr />

								<div class="grid grid-cols-4">
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach1"
												name="IGfensterdach1"
												value="EG"
											/>Einfachglas</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach2"
												name="IGfensterdach2"
												value="DF"
											/>Doppelverglasung</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach3"
												name="IGfensterdach3"
												value="IVG"
											/>Isolierverglasung</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach4"
												name="IGfensterdach4"
												value="PHF"
											/>Dreifachverglasung</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach5"
												name="IGfensterdach5"
												value="FD"
											/>Alle Fenster dicht</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach6"
												name="IGfensterdach6"
												value="FTUD"
											/>Fenster teilweise undicht</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach7"
												name="IGfensterdach7"
												value="TD"
											/>Alle Türen dicht</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach8"
												name="IGfensterdach8"
												value="TUD"
											/>Türen teilweise undicht</label
										>
									</div>
									<div class="form-group col-md-3">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGfensterdach9"
												name="IGfensterdach9"
												value="RKD"
											/>Rollladenkästen gedämmt, luftdicht</label
										>
									</div>
								</div>
							</div><!-- 2-row-close -->

							<hr />

							<FensterImage />

							<hr />

							<div class="GRB3">
								<div class="form-group col-md-12">
									<HelpLabel
										title="Wärmedämmung (bitte zutreffendes ankreuzen) *"
									>
										Wir benötigen diese Angaben um den
										allgemeinen Modernisierungsstand
										einschätzen zu können. Bitte setzen Sie
										den Haken wenn zutreffend. Das seit Mai
										2021 gültige GEG erfordert eine genauere
										Prüfung anhand von Fotos. Bitte laden
										Sie ein oder mehrere Fotos der Außenwand
										und des Dachbereiches hoch.
									</HelpLabel>
									<hr />
								</div>

								<div class="grid grid-cols-4">
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung1"
												name="IGwaermedaemmung1"
												value="AWD"
											/>Außenwand gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung2"
												name="IGwaermedaemmung2"
												value="KWD"
											/>Kelleraußenwand gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung3"
												name="IGwaermedaemmung3"
												value="KDD"
											/>Kellerdecke gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung4"
												name="IGwaermedaemmung4"
												value="DGD"
											/>Dachgeschoss gedämmt</label
										>
									</div>
									<div class="form-group col-md-3 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung5"
												name="IGwaermedaemmung5"
												value="OGDDW"
											/>Oberste Geschossdecke gedämmt</label
										>
									</div>
									<div class="form-group col-md-6 mw1">
										<label class="checkbox-inline rfs"
											><input
												type="checkbox"
												class="IGversorgungssysteme"
												id="IGwaermedaemmung6"
												name="IGwaermedaemmung6"
												value="OGDD"
											/>Oberste Geschossdecke min. 12cm
											gedämmt</label
										>
									</div>
								</div>
							</div><!-- 2-row-close -->

							<hr />

							<DaemmungImage />

							<hr />

							<div
								class="form-group col-md-12"
								style="margin-bottom:0.9% !important;"
							>
								<label
									class="headline"
									id="headlinebu"
									style="font-size:18px;text-align:left;"
									>G - Hier können Sie ein Gebäudebild
									hochladen und sich Ihren Energieausweis als
									PDF anschauen</label
								>
							</div>

							<div class="col-md-12">
								<div>
									<div class="row TOP-EQ">
										<div class="form-group col-md-6 EQ">
											<div class="GRB4">
												<div
													class="form-group col-md-12 nopad"
												>
													<HelpLabel
														title="Gebäudebild Bildupload :"
													>
														Wenn vorhanden können
														Sie ein Gebäudefoto
														(Außenansicht)
														hochladen.
													</HelpLabel>
													<hr
														class="trenner_form_100"
													/>
												</div>

												<div
													class="form-group col-md-12"
												>
													<div
														class="row"
														style="flex-direction: column;"
													>
														<input
															type="file"
															class="image_upload"
															name="general[]"
															style="margin-left: 20px;"
														/>
														<div
															class="form-group col-3 image_container"
															style=""
														>
															<input
																type="hidden"
																id="uploaded_images"
																name="uploaded_images"
																value=""
															/>
														</div>

														<canvas
															id="image_canvas"
															style="display: none;"
															width="500"
														></canvas>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group col-md-6 EQ">
											<div class="GRB5">
												<div
													class="form-group col-md-12 nopad"
												>
													<HelpLabel
														title="Ansichtsausweis & Datenblatt :"
													>
														Hier gehts zu Ihrem
														Ansichtsausweis und
														Datenblatt als PDF.
													</HelpLabel>
													<hr
														class="trenner_form_100"
													/>
												</div>

												<div
													class="form-group col-md-12"
												>
													<div class="row">
														<button
															class="pdf-anzeigen cancel"
															type="submit"
															id="pdf-anzeigen"
															name="submit2"
															value="Ansichtsausweis >>>"
														>
															<img
																class="button-img"
																src="/images/ausweis.webp"
																alt="Ausweis"
															/>
															<span
																>Ansichtsausweis</span
															>
														</button>
														<button
															class="pdf-datenblatt cancel"
															type="submit"
															id="pdf-datenblatt"
															name="submit2"
															value="Datenblatt >>>"
														>
															<img
																class="button-img"
																src="/energieausweis-erstellen/FORM/img/datenblatt.webp"
																alt="Datenblatt"
															/>
															<span
																style="color:black;font-weight:bold;"
																>Datenblatt</span
															>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- 2-container-close -->

							<hr />

							<div
								class="form-group col-12 col-md-12"
								style="padding:0;"
							>
								<div>
									<div class="row">
										<div class="form-group col-12 col-md-6">
										</div>

										<div class="form-group col-12 col-md-6">
											<div
												class="row"
												style="margin-left:0;margin-right:0; padding:0;"
											>
												<Hilfe />
											</div>
										</div>
									</div>
								</div><!-- 2-row-close -->
							</div>

							<div
								class="form-group col-md-12"
								style="display:none;"
								id="hilfeann"
							>
								<div class="form-group col-md-12 pop_help">
									<div class="form-group col-md-12">
										Gerne helfen wir Ihnen wenn Sie nicht
										weiterkommen oder Fragen haben. Kurze
										Fragen zum Formular oder der Ausweisart
										werden kostenfrei telefonisch unter <a
											href="tel:+4940209339850"
											>040/209339850</a
										> beantwortet (bis 5min). Sollten Sie Unterstützung
										bei der Erstellung benötgen oder lieber die
										Arbeit von unserem Ingenieurbüro erledigen
										lassen, bieten wir Ihnen folgende Hilfen
										an. Bitte treffen Sie Ihre Auswahl und klicken
										auf weiter:
									</div>

									<div
										class="row"
										style="margin:0em 0em 0em 2em;"
									>
										<div class="form-group col-md-10"></div>
										<div class="form-group col-md-2"></div>
									</div>

									<div
										class="row"
										style="margin:0em 0em 0em 2em;"
									>
										<div class="form-group col-md-7">
											Verbrauchsausweis online inkl.
											ausführlicher telefonischer Beratung
											für 60 € inkl. MwSt.
										</div>
										<div class="form-group col-md-5">
											<input
												type="radio"
												class="IGanlass"
												id="Produkttb2"
												value="ptb"
												name="Produkt"
											/>
										</div>
									</div>
									<div
										class="row"
										style="margin:0em 0em 0em 2em;"
									>
										<div class="form-group col-md-7">
											Verbrauchsausweis offline für 180 €
											inkl. MwSt. (Sie schicken uns 3
											Verbrauchsabrechnungen zu)
										</div>
										<div class="form-group col-md-5">
											<input
												type="radio"
												class="IGanlass"
												id="Produktof2"
												value="pof"
												name="Produkt"
											/>
										</div>
									</div>
									<div
										class="row"
										style="margin:0em 0em 0em 2em;"
									>
										<div class="form-group col-md-7">
											Bedarfsausweis offline für 290 €
											inkl. MwSt. (Sie schicken uns
											Grundriss- und Ansichtspläne zu)
										</div>
										<div class="form-group col-md-5">
											<input
												type="radio"
												class="IGanlass"
												id="Produktbof2"
												value="pbof"
												name="Produkt"
											/>
										</div>
									</div>

									<div class="form-group col-md-12">
										<br />
										<input
											class="weiterbutton cancel"
											id="weiterzlu"
											type="submit"
											name="submit2"
											value="weiter"
										/>
									</div>
								</div>
							</div><!-- 2-container-close -->
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</AusweisLayout>

<style is:global>
	.GRB {
		@apply border-2 border-[#ffcc03] p-4 flex flex-row rounded-lg justify-between w-full;
		background-color: rgba(252, 234, 187, 0.2);
	}

	.GRB3 {
		@apply flex flex-col border-2 border-[#ffcc03] p-4 rounded-lg;
	}

	.headline {
		@apply text-lg;
	}

	.radio-inline {
		@apply flex flex-row gap-2;
	}

	.checkbox-inline {
		@apply flex flex-row gap-2;
	}

	input[type="checkbox"] {
		width: auto;
	}
</style>
