---
import ProgressBar from "~/components/Ausweis/ProgressBar.astro";
import PerformanceScore from "~/components/Ausweis/PerformanceScore.svelte";
import AusweisLayout from "~/layouts/AusweisLayout.astro";
import PriceContainer from "~/components/Kaufabschluss/PriceContainer.svelte";
import KundendatenContainer from "~/components/Kaufabschluss/KundendatenContainer.svelte";

const prices = [45, 60, 160];
---

<AusweisLayout title="Kaufabschluss Verbrauchsausweis - IBCornelsen">
	<div class="flex flex-row gap-8 items-center mb-8">
		<div class="flex flex-col w-full">
			<h1>Verbrauchsausweis erstellen - 45€</h1>
			<ProgressBar progress={100} />
		</div>

		<PerformanceScore />
	</div>

	<form action="FORM/transfer/VA_3to4.php" method="POST" novalidate>
		<fieldset>
			<div class="grid grid-cols-2 gap-6">
				<PriceContainer prices={prices} client:load />

				<KundendatenContainer />

				<div
					class="GRB gap-md column"
					style="width: 100%;"
					id="payment-option-container"
				>
					<h4>Bitte wählen sie ihre Bezahlmethode aus.</h4>
					<div class="flex-row justify-between">
						<div class="column gap-md">
							<div class="payment-option-card" id="paypal-button">
								<img
									src="../../images/paypal.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit PayPal"
								>
									Zahlen mit PayPal
								</div>
							</div>
							<div
								class="payment-option-card"
								id="giropay-button"
							>
								<img
									src="../../images/giropay.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit Giropay"
								>
									Zahlen mit Giropay
								</div>
							</div>
							<div class="payment-option-card" id="sofort-button">
								<img
									src="../../images/sofort.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit Sofort"
								>
									Zahlen mit Sofort
								</div>
							</div>
						</div>
						<div class="column gap-md">
							<div
								class="payment-option-card"
								id="kreditkarte-button"
							>
								<img
									src="../../images/mastercard.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit Kreditkarte"
								>
									Zahlen mit Kreditkarte
								</div>
							</div>
							<div
								class="payment-option-card"
								id="rechnung-button"
							>
								<img
									src="../../images/rechnung.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit Rechnung"
								>
									Zahlen mit Rechnung
								</div>
							</div>
							<div class="payment-option-card" id="sepa-button">
								<img
									src="../../images/sepa.png"
									class="payment-option-logo"
								/>
								<div
									class="payment-option-label"
									aria-label="Zahlen mit SEPA über PayPal"
								>
									SEPA über PayPal
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="form-group col-md-12">
			<div class="form-group col-md-6" style="text-align:left; ">
				<a class="button" href="/verbrauchsausweis">Daten ändern</a>
			</div>
		</div>
	</form>
</AusweisLayout>
<style is:global>
	.GRB {
		@apply flex flex-col border-2 border-[#ffcc03] p-4 rounded-lg;
		background-color: rgba(252, 234, 187, 0.2);
	}

	table,
	td {
		@apply border-none;
	}
</style>
