@media (min-width: 576px) and (max-width: 767.98px) {

	/*-----------------------------------------------------------------*/
	/*-                                                               -*/
	/*-                 General Styles & Structure               	  -*/
	/*-         (min-width: 576px) and (max-width: 767.98px)          -*/
	/*-----------------------------------------------------------------*/
	.content {
		max-width: 1920px;
		display: grid;
		column-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.mainContent {
		display: block;
		-webkit-box-shadow: rgb(162, 162, 162) 1px 1px 3px 1px;
		box-shadow: rgb(162, 162, 162) 1px 1px 3px 1px;
		background-color: rgb(255, 255, 255);
		margin-top: 0px;
		padding: 20px 1.5%;
	}

	.stretch-2 {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-area: 1/1/1/4 !important;
		width: calc(100% - 3%);
	}

	.only-form-mainContent {
		padding: 20px 1% !important;
		width: 100%;
	}

	.left-sidebar {
		display: block;
		max-width: 940px;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		grid-area: 1/1/1/1;
		padding-top: 0px;
		margin-top: 0px;
		width: 100%;
	}

	.right-sidebar {
		display: block;
		max-width: 940px;
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		grid-area: 1/3/1/3;
		padding-top: 0px;
		margin-top: 0px;
		width: 100%;
	}

	.login-container {
		grid-template-columns: 1fr !important;
	}

}

/* END QUERY */