@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
	font-weight: 400;
	box-sizing: border-box;
	font-family: "Abel", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import './576';
@import './768';
@import './992';

@import "./smaller-768";