@media (min-width: 0px) and (max-width: 575.98px) {
	.fixedHead {
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 10;
	}

	.hamburger_menu {
		align-items: center;
		display: block;
		display: -ms-flexbox;
		display: -webkit-box;
		justify-content: center;
		ms-flex-align: center;
		ms-flex-pack: center;
		webkit-box-align: center;
		webkit-box-pack: center;
	}

	.hamburger_menu img {
		height: 20px;
		width: 20px;
	}

	.nav-card {
		background-color: #444f94;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		flex-direction: column;
		ms-flex-direction: column;
		opacity: 0;
		transition: opacity 0.75s;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
		z-index: 5;
		overflow: hidden;
	}

	.visible {
		align-content: stretch;
		align-items: stretch;
		border-top: 1px solid #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-left: 0%;
		min-height: 85%;
		opacity: 1;
		padding: 5% 3% 15%;
		position: absolute;
		width: 100%;
		top: 149px;
	}

	.mob-align {
		width: 95% !important;
		margin: 0 auto;
	}

	.nav-head-blue {
		background-color: #444f94 !important;
	}

	.menuIN {
		display: none !important;
	}

	.dropdown {
		position: relative;
	}

	.card-menu-option.dropdown:not(.active):hover .dropdown-content {
		display: none !important;
	}

	.card-menu-option {
		background-color: #ff7d26;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		color: #fff;
		cursor: pointer;
		font-size: 1.1em;
		font-weight: 500;
		moz-user-select: none;
		ms-user-select: none;
		padding: 10px 20px;
		text-decoration: none !important;
		user-select: none;
		webkit-user-select: none;
		width: auto;
	}

	.nav-card .card-menu-option:first-child {
		border-top: 1px solid #fff;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.nav-card .card-menu-option:last-child {
		border-bottom: 1px solid #fff;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.nav-card .card-menu-option a {
		color: #fff;
		text-decoration: none;
	}

	.nav-card .card-menu-option:hover>a {
		color: #fff;
	}

	.nav-card .card-menu-option:hover {
		background-color: #444f94;
		color: #fff;
		text-decoration: none;
	}

	.active {
		background-color: #444f94;
		opacity: 1;
		transition: opacity 0.75s;
	}

	.dropdown-content {
		border: none !important;
		border-radius: 8px;
		box-shadow: none !important;
		display: none;
		margin: 10px 0;
		position: relative !important;
		webkit-box-shadow: none !important;
	}

	.dropdown-content:hover {
		display: none;
	}

	.dropdown-content hr {
		display: none;
	}

	.dropdown-content>.card-menu-option {
		background-color: #dae6f7 !important;
		border-bottom: 1px solid #fff;
		color: #303030 !important;
		display: block;
		font-size: 17px;
		font-weight: normal;
	}

	.droparrow1::after {
		transform: translate(0, -50%) rotate(90deg) !important;
		transition: transform 0.25s;
	}

	.dropdown::after {
		content: "\276F";
		font-size: 14px;
		font-weight: 300;
		position: absolute;
		right: 10px;
		top: 20px;
		transform: translate(0, -50%) rotate(0deg);
		transition: transform 0.25s;
	}
}