---
const currentYear = new Date().getFullYear();
---

<div class="flex flex-row justify-between px-4 items-center">
	<a href="/impressum.php">Impressum und Datenschutz</a>
	<a class="" href="/">© {currentYear} IB Cornelsen Hamburg.</a>
</div>