---
const currentYear = new Date().getFullYear();
---

<div class="flex flex-row justify-between px-4 items-center bg-primary py-2">
	<a class="text-white font-medium text-lg" href="/impressum.php">Impressum und Datenschutz</a>
	<a class="text-white font-medium text-lg" href="/">© {currentYear} IB Cornelsen Hamburg.</a>
</div>