---
import { isLoggedIn } from "../lib/UI/isLoggedIn";

const loggedIn = isLoggedIn(Astro);
---

<header class="header">
	<div class="headmargin">
		<img
			src="/images/header/header-bg.jpg"
			class="headerBackgroundImage"
			alt="Hintergrund - Rollen Architektenpapier"
		/>
		<div class="branding">
			<img
				src="/images/header/logo-big.png"
				class="header-logo"
				alt="IBCornelsen - Logo"
				onclick="window.location.href = '/'"
			/>
			<h2 class="MajorHeading">Energieausweis online erstellen</h2>
			<h2 class="MajorHeading smaller">Energieausweise nach aktueller GEG</h2>
		</div>
	</div>

	<div class="nav-head">
		<a
			class="headerButton"
			href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
			>Energieausweis erstellen</a
		>
		<a class="headerButton" href="/energieausweis-kontakt.php">Kontakt</a>
		<a class="headerButton" href="/agb">AGB</a>
		{loggedIn ? <a class="headerButton" href="/user">Profil</a> : <a class="headerButton" href="/login">Login</a>}
		<a class="hamburger_menu"
			><img src="/images/hamburger.png" alt="hamburger" /></a
		>
	</div>
</header>
