---
export type Props = {
	title: string;
};

const { tooltip, title } = Astro.props;
---

<div class="flex flex-row justify-between mb-2">
	<label>{title}</label>
	<div data-tooltip={tooltip} class="relative tooltip-opener cursor-help">
		<img
			src="/images/question-mark.png"
			alt="?"
			class="w-[20px] h-[20px]"
		/>
		<div class="tooltip">
			<slot></slot>
		</div>
	</div>
</div>

<style>
	label {
		@apply text-base font-medium;
	}

	.tooltip {
		@apply absolute left-0 translate-x-[-50%] max-w-[350px] w-max break-words invisible bg-white rounded-lg p-2 shadow-lg top-0 translate-y-[calc(-100%-8px)];
	}

	.tooltip-opener:hover .tooltip {
		@apply visible;
	}
</style>