<div class="left-sidebar">
	<nav>
		<div class="nav-card">
			<div class="card-menu-option dropdown">
				<a href="/energieausweis-erstellen.php"
					>Energieausweis erstellen</a
				>
				<div class="dropdown-content">
					<a href="/verbrauchsausweis">Verbrauchsausweis erstellen</a>
					<a href="/bedarfsausweis">Bedarfsausweis erstellen</a>
					<a href="/verbrauchsausweis-gewerbe"
						>Verbrauchsausweis Gewerbe erstellen</a
					>
					<a href="/bedarfsausweis-gewerbe"
						>Bedarfsausweis Gewerbe anfragen</a
					>
				</div>
			</div>
			<a class="card-menu-option" href="/welcher-energieausweis"
				>Welcher Energieausweis ?</a
			>
			<div class="card-menu-option dropdown">
				<a href="/verbrauchsausweis/">Verbrauchsausweis</a>
				<div class="dropdown-content">
					<a
						href="/verbrauchsausweis/verbrauchsausweis-wohngebaeude.php"
						>Verbrauchsausweis Wohngebäude</a
					>
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
						>Verbrauchsausweis online erstellen</a
					>
					<a
						href="/verbrauchsausweis/haeufige-fragen-zum-verbrauchsausweis.php"
						>Häufige Fragen zum Verbrauchsausweis</a
					>
					<a
						href="/verbrauchsausweis/statistiken-zum-verbrauchsausweis.php"
						>Statistiken zum Verbrauchsausweis Wohngebäude</a
					>
					<hr class="nav-hr" />
					<a href="/verbrauchsausweis/verbrauchsausweis-gewerbe.php"
						>Verbrauchsausweis Gewerbe</a
					>
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-gewerbe-erstellen.php"
						>Verbrauchsausweis Gewerbe online erstellen</a
					>
					<a
						href="/verbrauchsausweis/haeufige-fragen-zum-verbrauchsausweis-gewerbe.php"
						>Häufige Fragen zum Verbrauchsausweis Gewerbe</a
					>
					<a
						href="/verbrauchsausweis/statistiken-zum-verbrauchsausweis-gewerbe.php"
						>Statistiken zum Verbrauchsausweis Gewerbe</a
					>
				</div>
			</div>
			<div class="card-menu-option dropdown">
				<a href="/bedarfsausweis/">Bedarfsausweis</a>
				<div class="dropdown-content">
					<a href="/bedarfsausweis/bedarfsausweis-wohngebaeude.php"
						>Bedarfsausweis Wohngebäude</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
						>Bedarfsausweis online erstellen</a
					>
					<a
						href="/bedarfsausweis/haeufige-fragen-zum-bedarfsausweis.php"
						>Häufige Fragen zum Bedarfsausweis</a
					>
					<a href="/bedarfsausweis/statistiken-zum-bedarfsausweis.php"
						>Statistiken zum Bedarfsausweis Wohngebäude</a
					>
					<hr class="nav-hr" />
					<a href="/bedarfsausweis/bedarfsausweis-gewerbe.php"
						>Bedarfsausweis Gewerbe</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-gewerbe-anfragen.php"
						>Bedarfsausweis Gewerbe anfragen</a
					>
					<a
						href="/bedarfsausweis/haeufige-fragen-zum-bedarfsausweis-gewerbe.php"
						>Häufige Fragen zum Bedarfsausweis Gewerbe</a
					>
				</div>
			</div>
			<div class="card-menu-option dropdown">
				<a href="/">Energieausweis</a>
				<div class="dropdown-content">
					<a href="/energieausweis-pflicht.php"
						>Energieausweis Pflicht</a
					>
					<a href="/energieausweis-kosten.php"
						>Energieausweis Kosten</a
					>
					<a href="/energieausweis-haus.php">Energieausweis Haus</a>
				</div>
			</div>
			<a class="card-menu-option" href="/enev-zusammenfassung"
				>EnEV Zusammenfassung - Archiv</a
			>
			<a class="card-menu-option" href="/energieausweis-aussteller"
				>Energieausweis Aussteller</a
			>
			<a class="card-menu-option" href="/kundenbewertungen"
				>Kundenbewertungen</a
			>
			<a class="card-menu-option" href="/faq">FAQ</a>
			<a class="card-menu-option" href="/developers">Für Entwickler</a>
		</div>
	</nav>

	<div class="infoCard">
		<div class="flex-column align-center">
			<img
				src="/images/right-sidebar/ing-niedersachsen.png"
				alt="Mitglied Ingenieurkammer Niedersachen"
				style="height: 150px;margin-bottom: 25px; width: auto;"
			/>
			<img
				src="/images/right-sidebar/mitglied-haendlerbund.png"
				alt="Mitglied im Händlerbund"
				style="width:auto;
"
			/>
		</div>
	</div>
	<div class="infoCard">
		<div class="heading1">Was wird der Energieausweis kosten?</div>
		<hr style="margin-bottom:15px;" />
		<ul>
			<li>Verbrauchsausweis Wohngebäude<br />45€ inkl. MwSt.<hr /></li>
			<li>Bedarfsausweis Wohngebäude<br />75€ inkl. MwSt.<hr /></li>
			<li>Verbrauchsausweis Gewerbe<br />65€ inkl. MwSt.<hr /></li>
			<li>Bedarfsausweis Gewerbe<br />ab 300€ inkl. MwSt.<hr /></li>
			<li>EnEV-Nachweis Wohngebäude<br />ab 400€ inkl. MwSt.<hr /></li>
			<li>EnEV-Nachweis Gewerbe<br />ab 450€ inkl. MwSt.</li>
		</ul>
		<hr />
	</div>
	<div class="infoCard">
		<div class="heading1">Zahlungsoptionen</div>
		<hr style="margin-bottom:15px;" />
		<p style="text-align:center; font-size: 1.1em;">
			Ihre online Zahlungen werden sicher über eine SSL Verschlüsselung
			abgewickelt.
		</p>
		<hr style="margin-bottom:15px;" />
		<div class="align-center">
			<img
				src="/images/left-sidebar/payment.png"
				alt="Bezahloptionen - Paypal, Visa, Kreditkarte..."
			/>
		</div>
	</div>
</div>

<style>
	.infoCard {
		@apply bg-white rounded-none;
	}

	.dropdown-content > .card-menu-option,
	.dropdown-content > a {
		@apply block w-[350px] bg-gray-100 border text-lg px-4 py-2;
	}

	.dropdown-content > .card-menu-option:hover,
	.dropdown-content > a:hover {
		background-color: #444f94 !important;
		color: #fff !important;
	}

	.dropdown-content {
		@apply absolute bg-white left-full top-[-1px] shadow-md z-10 hidden;
	}

	.dropdown:hover > .dropdown-content {
		@apply block;
	}

	.dropdown::after {
		content: "\276F";
		position: absolute;
		top: 20px;
		right: 10px;
		font-size: 14px;
		font-weight: 300;
		transform: translate(0, -50%) rotate(0deg);
		transition: transform 0.25s;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content:hover {
		display: none;
	}

	.dropdown::after {
		content: "\276F";
		font-size: 14px;
		font-weight: 300;
		position: absolute;
		right: 10px;
		top: 20px;
		transform: translate(0, -50%) rotate(0deg);
		transition: transform 0.25s;
	}

	.card-menu-option {
		padding: 10px 20px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-decoration: none !important;
		width: auto;
		cursor: pointer;
		border-bottom: 1px solid #fff;
		font-weight: 400;
		font-size: 1.1em;
		color: #000;
		background-color: #fff;
		border-left: 0px solid #fff;
		border-right: 0px solid #fff;
	}

	.nav-card .card-menu-option:first-child {
		border-top: 0px solid #fff;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.nav-card .card-menu-option:last-child {
		border-bottom: 0px solid #fff;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.nav-card .card-menu-option a {
		text-decoration: none;
		color: #000;
	}

	.nav-card .card-menu-option:hover > a {
		color: #fff;
	}

	.nav-card .card-menu-option:hover {
		background-color: #ff7d26;
		color: #fff;
		text-decoration: none;
	}
</style>
