<div class="left-sidebar">
	<nav>
		<div class="nav-card">
			<div class="card-menu-option dropdown">
				<a href="/energieausweis-erstellen.php"
					>Energieausweis erstellen</a
				>
				<div class="dropdown-content">
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
						class="card-menu-option">Verbrauchsausweis erstellen</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
						class="card-menu-option">Bedarfsausweis erstellen</a
					>
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-gewerbe-erstellen.php"
						class="card-menu-option"
						>Verbrauchsausweis Gewerbe erstellen</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-gewerbe-anfragen.php"
						class="card-menu-option"
						>Bedarfsausweis Gewerbe anfragen</a
					>
				</div>
			</div>
			<a class="card-menu-option" href="/welcher-energieausweis"
				>Welcher Energieausweis ?</a
			>
			<div class="card-menu-option dropdown">
				<a href="/verbrauchsausweis/">Verbrauchsausweis</a>
				<div class="dropdown-content">
					<a
						href="/verbrauchsausweis/verbrauchsausweis-wohngebaeude.php"
						class="card-menu-option"
						>Verbrauchsausweis Wohngebäude</a
					>
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-erstellen.php"
						class="card-menu-option"
						>Verbrauchsausweis online erstellen</a
					>
					<a
						href="/verbrauchsausweis/haeufige-fragen-zum-verbrauchsausweis.php"
						class="card-menu-option"
						>Häufige Fragen zum Verbrauchsausweis</a
					>
					<a
						href="/verbrauchsausweis/statistiken-zum-verbrauchsausweis.php"
						class="card-menu-option"
						>Statistiken zum Verbrauchsausweis Wohngebäude</a
					>
					<hr class="nav-hr" />
					<a
						href="/verbrauchsausweis/verbrauchsausweis-gewerbe.php"
						class="card-menu-option">Verbrauchsausweis Gewerbe</a
					>
					<a
						href="/energieausweis-erstellen/verbrauchsausweis-gewerbe-erstellen.php"
						class="card-menu-option"
						>Verbrauchsausweis Gewerbe online erstellen</a
					>
					<a
						href="/verbrauchsausweis/haeufige-fragen-zum-verbrauchsausweis-gewerbe.php"
						class="card-menu-option"
						>Häufige Fragen zum Verbrauchsausweis Gewerbe</a
					>
					<a
						href="/verbrauchsausweis/statistiken-zum-verbrauchsausweis-gewerbe.php"
						class="card-menu-option"
						>Statistiken zum Verbrauchsausweis Gewerbe</a
					>
				</div>
			</div>
			<div class="card-menu-option dropdown">
				<a href="/bedarfsausweis/">Bedarfsausweis</a>
				<div class="dropdown-content">
					<a
						href="/bedarfsausweis/bedarfsausweis-wohngebaeude.php"
						class="card-menu-option">Bedarfsausweis Wohngebäude</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-erstellen.php"
						class="card-menu-option"
						>Bedarfsausweis online erstellen</a
					>
					<a
						href="/bedarfsausweis/haeufige-fragen-zum-bedarfsausweis.php"
						class="card-menu-option"
						>Häufige Fragen zum Bedarfsausweis</a
					>
					<a
						href="/bedarfsausweis/statistiken-zum-bedarfsausweis.php"
						class="card-menu-option"
						>Statistiken zum Bedarfsausweis Wohngebäude</a
					>
					<hr class="nav-hr" />
					<a
						href="/bedarfsausweis/bedarfsausweis-gewerbe.php"
						class="card-menu-option">Bedarfsausweis Gewerbe</a
					>
					<a
						href="/energieausweis-erstellen/bedarfsausweis-gewerbe-anfragen.php"
						class="card-menu-option"
						>Bedarfsausweis Gewerbe anfragen</a
					>
					<a
						href="/bedarfsausweis/haeufige-fragen-zum-bedarfsausweis-gewerbe.php"
						class="card-menu-option"
						>Häufige Fragen zum Bedarfsausweis Gewerbe</a
					>
				</div>
			</div>
			<div class="card-menu-option dropdown">
				<a href="/">Energieausweis</a>
				<div class="dropdown-content">
					<a
						href="/energieausweis-pflicht.php"
						class="card-menu-option">Energieausweis Pflicht</a
					>
					<a
						href="/energieausweis-kosten.php"
						class="card-menu-option">Energieausweis Kosten</a
					>
					<a href="/energieausweis-haus.php" class="card-menu-option"
						>Energieausweis Haus</a
					>
				</div>
			</div>
			<a class="card-menu-option" href="/enev-zusammenfassung"
				>EnEV Zusammenfassung - Archiv</a
			>
			<a class="card-menu-option" href="/energieausweis-aussteller"
				>Energieausweis Aussteller</a
			>
			<a
				class="card-menu-option"
				href="/kundenbewertungen"
				>Kundenbewertungen</a
			>
		</div>
	</nav>

	<div class="infoCard">
		<div class="flex-column align-center">
			<img
				src="/images/right-sidebar/ing-niedersachsen.png"
				alt="Mitglied Ingenieurkammer Niedersachen"
				style="height: 150px;margin-bottom: 25px; width: auto;"
			/>
			<img
				src="/images/right-sidebar/mitglied-haendlerbund.png"
				alt="Mitglied im Händlerbund"
				style="width:auto;
"
			/>
		</div>
	</div>
	<div class="infoCard">
		<div class="heading1">Was wird der Energieausweis kosten?</div>
		<hr style="margin-bottom:15px;" />
		<ul>
			<li>Verbrauchsausweis Wohngebäude<br />45€ inkl. MwSt.<hr /></li>
			<li>Bedarfsausweis Wohngebäude<br />75€ inkl. MwSt.<hr /></li>
			<li>Verbrauchsausweis Gewerbe<br />65€ inkl. MwSt.<hr /></li>
			<li>Bedarfsausweis Gewerbe<br />ab 300€ inkl. MwSt.<hr /></li>
			<li>EnEV-Nachweis Wohngebäude<br />ab 400€ inkl. MwSt.<hr /></li>
			<li>EnEV-Nachweis Gewerbe<br />ab 450€ inkl. MwSt.</li>
		</ul>
		<hr />
	</div>
	<div class="infoCard">
		<div class="heading1">Zahlungsoptionen</div>
		<hr style="margin-bottom:15px;" />
		<p style="text-align:center; font-size: 1.1em;">
			Ihre online Zahlungen werden sicher über eine SSL Verschlüsselung
			abgewickelt.
		</p>
		<hr style="margin-bottom:15px;" />
		<div class="align-center">
			<img
				src="/images/left-sidebar/payment.png"
				alt="Bezahloptionen - Paypal, Visa, Kreditkarte..."
			/>
		</div>
	</div>
</div>

<style>
	.infoCard {
		@apply bg-white rounded-none;
	}
</style>