<div id="wrapper" class="tingle-content-wrapper" style="border-radius:1em;border:4px solid #FF7D26;padding:15px;margin-top: 1em;background-color:#f9f8f7;">
	<link rel="stylesheet" href="https://widget.ib-cornelsen.de/widgetvorlage/welcher-energieausweis/css/welcher-energieausweis-widget.css">
	<link rel="stylesheet" href="https://widget.ib-cornelsen.de/widgetvorlage/welcher-energieausweis/css/tingle.css">
	<div id="OEA_widget" style="padding:0px;">
		<div id="OEA_input">
			<div class="row" style="padding: 0 15px 15px 0;">
				<div class="col-lg-6"> <input type="hidden" id="recode" name="recode" value="widgetvorlage">
					<div id="OEA_typ">Gebäudetyp</div> <select class="form-control col-lg-12" id="changeTyp">
						<option value="" selected="" disabled="">bitte auswählen</option>
						<option value="Einfamilienhaus">Einfamilienhaus</option>
						<option value="Zweifamilienhaus">Zweifamilienhaus</option>
						<option value="Mehrfamilienhaus">Mehrfamilienhaus</option>
						<option value="Gewerbegebäude">Gewerbegebäude</option>
						<option value="Mischgebäude">Mischgebäude</option>
					</select>
				</div>
				<div class="col-lg-6 last">
					<div id="OEA_anlass">Anlass</div> <select class="form-control col-lg-12" id="changeAnlass">
						<option value="" selected="" disabled="">bitte auswählen</option>
						<option value="Vermietung">Vermietung</option>
						<option value="Verkauf">Verkauf</option>
						<option value="Modernisierung">Modernisierung</option>
						<option value="Neubau">Neubau</option>
						<option value="Erweiterung">Erweiterung</option>
						<option value="Aushangpflicht" id="aP" style="display: none;">Aushangpflicht
						</option>
					</select>
				</div>
				<div class="col-lg-4" style="display: none;">
					<div id="OEA_Baujahr">Baujahr</div> <select class="form-control col-lg-12" id="changeBaujahr">
						<option value="" selected="" disabled="">bitte auswählen</option>
						<option value="vor 1978">vor 1978</option>
						<option value="nach 1977">nach 1977</option>
					</select>
				</div>
				<div class="col-lg-4" style="display: none;">
					<div id="OEA_Wohneinheiten">Wohneinheiten</div> <select class="form-control col-lg-12" id="changeWohneinheit">
						<option value="" selected="" disabled="">bitte auswählen</option>
						<option value="weniger als 5">bis 4</option>
						<option value="mehr als 4">mehr als 4</option>
					</select>
				</div>
				<div class="col-lg-4 last" style="display: none;">
					<div id="OEA_Sanierung">Sa­nie­rungs­sta­tus</div> <select class="form-control col-lg-12" id="changeSanierung">
						<option value="" selected="" disabled="">bitte auswählen</option>
						<option value="san">saniert</option>
						<option value="unsan">unsaniert</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="display: none;">
			<div id="wrap_CTA">
				<div id="thumb"><img src="https://widget.ib-cornelsen.de/widgetvorlage/welcher-energieausweis/img/thumb.png" alt="thumb">
				</div>
				<div id="OEA_cta" class="button"></div>
			</div>
			<div id="OEA_result"></div>
		</div>
		<div class="col-md-12" style="padding:0;">
			<div id="OEA_powered">
				<div id="logo2">
					<p style="display:inline-block; vertical-align: text-top; padding-right: 0.5em;">powered by</p>
					<a href="https://online-energieausweis.org?recode=widgetvorlage" title="IB Cornelsen" style="display:inline-block;">
						<img alt="IB Cornelsen" src="https://widget.ib-cornelsen.de/OEA_WIDGETS/img/IBC-logo.svg" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<script src="https://widget.ib-cornelsen.de/widgetvorlage/js/tingle/tingle.js"></script>
	<script src="https://widget.ib-cornelsen.de/widgetvorlage/js/ausweis-oeffnen.js"></script>
	<script src="https://widget.ib-cornelsen.de/widgetvorlage/js/welcher-energieausweis-widget.js">
	</script>
</div>