---

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			{title || 'Energieausweis online erstellen - Online Energieausweis'}
		</title>
	</head>

	<body class="w-[210mm] h-[297mm] py-[12mm] px-[16mm]">
		<main>
			<article class="mainContent">
				<slot />
			</article>
		</main>
	</body>
</html>

<style is:global>
	* {
		font-family: Arial, Helvetica, sans-serif;
	}
</style>